.signup-form-email{	
}

.services-box{
	position:relative;
}

.services-box .overlay-content{
	position:absolute;
	top:-20px;
	left:0px;
	right:0px;
	bottom:-20px;
	z-index:1000;
	display:none;
	-webkit-transition: all 0.2s ease-in-out;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
	cursor:pointer;
	color:#fff;
	padding:20px;
}
.services-box .overlay-content li{
	margin-bottom:10px;
	text-align:justify;
	font-size:15px;
}
#chart{
	width:100%;
	height:450px;
}

#chart-controls{
	text-align:center;
}

#chart-controls #sipamount{
	background-color:#fff;
}

.founder-box{
	padding-left:80px;
	padding-right:80px;
}

.founder-box img{
	margin:10px;
	height:100px;
	width:100px;
}
.icon-img{
	height:100px;
	width:auto;
}

@media screen and (min-width:768px){
	.side-panel {
		position: fixed;
		width: 40%;
		right: -50%;
		top: 0px;
		bottom: 0px;
		background: rgba(0,0,0,.9);
		z-index: 1060;
		box-shadow: -3px 2px 20px #000;
		color:#fff;
		padding:30px;
		overflow:auto;
	}
}

@media screen and (max-width:768px){
	.side-panel {
		position: fixed;
		right: -110%;
		top: 0px;
		bottom: 0px;
		background: rgba(0,0,0,.9);
		z-index: 1060;
		width:100%;
		color:#fff;
		padding:30px;
		overflow:auto;
	}
	
}

.close-side-panel{
	cursor:pointer;
	max-width:40px;
}

.close-side-panel img{
	width:100%;
	
}

.side-panel .logo h1{
	font-weight:700;
}

.side-panel .logo img{
	width:40px;
}

.space{
	height:30px;
}

.side-panel h2{
	color:#ec6952;
	font-size:20px;
	font-weight:bold;
	line-height:25px;
}

.side-panel input.form-control{
	padding:9px 10px;
	font-size:15px;
	height:auto;
}

#signup-response, #login-response{
	text-align:center;
}

.link-button{
	position:absolute;
	right:20px;
	top:20px;
	padding:10px;
	z-index:1050;
	color:#fff;
	font-size:18px;
	text-align:center;
	padding-left:20px;
	padding-right:20px;
}

.link-button:visited, .link-button:active{
	color:#fff;
}

.hidden{
	display:none;
}

.m-t-xs {
	margin-top: 5px;
}

.m-t-sm {
	margin-top: 20px;
}

#faq .content-boxes{
	margin-bottom:20px;
}

.stats{
	position:absolute;
	max-width:750px;
	width:100%;
	left:120px;
	top:30px;
	z-index:101;
	font-size:12px;
}

.stats .stat-box{
	padding:10px;
}

.stats .stat-box>div{
	padding:10px;
	height:150px;
	background-color:#fff;
	border:1px solid #eee;
	border-radius:4px;
}

.stats .stat-box>div h3{
	padding:5px;
	margin:0px;
	margin-bottom:10px;
	font-size:18px;
	text-align:center;
	border-bottom:1px solid #eee;
}

.name-logo-container{
	position: absolute;
	top: 10px;
	left: 10px;
	margin: 0px;
}

#name-logo{
	font-weight: bold;
	font-size: 40px;
	margin:0px;
}

#name-tagline{
	font-weight: bold;
	font-size: 24px;
	color:#ec6952;
}

#intro .intro-body .intro-text p.lead{
	font-size:40px !important;
}

#intro .intro-body .intro-text p.sub-lead{
	font-size:30px !important;
	margin:0px !important;
}


.scroll-down{
	font-size: 50px;
	position: absolute;
	width: 60px;
	left: 50%;
	margin-left: -30px;
	top: 60px;
	cursor: pointer;
	display:block;
	color:#fff;
}

.scroll-down:hover{
	color:#ec6952;
}
.scroll-down:visited, .scroll-down:focus {
	color:#fff;
}

@media screen and (max-width:768px){
	.scroll-down{
		display:none;
	}
	
	#navigation-sticky-wrapper{
		height: 60px;
		position: fixed;
		top: 0px;
		left: 0px;
		right: 0px;
		z-index:1000;
	}
	
	.name-logo-container, #intro #login{
		display:none;
	}
	
	.stats{
		position:static;
				
	}
	
	.stats .stat-box>div{
		height:auto;
	}
	
	.stats table th, .stats table td{
		width:25%;
	}
}

#name-logo img.icon-img {
	float: left;
	height: 45px;
}

svg rect{
	z-index:1000;
}

.founder h4{
	margin-bottom:0px;
	padding-bottom:0px;
}


.founder .designation{
	display:block;
	margin-bottom:20px;
}

.referral-form-group{
}

.m-t-md{
	margin-top: 40px;
}

.m-t-lg{
	margin-top: 60px;
}

.no-padding{
	padding: 0px;
}

.home-icon{
	margin-top:10px;
	height:100px;
	width:100px;
	pointer: cursor !important;
}

.icon-border{
	color:white;
}

.icon-border:hover{
	/* border: 2px solid #f2f4f4;
	border-radius: 5px 20px 5px;
	background-color: #f2f4f4;
	color: black !important;
	font-weight: 600 !important; */
	text-decoration: underline;
	
}

.icon-text{
	margin-top:10px;
    font-size: 15px;
    text-align: center;
}