/*-----------------------------------------------------------------------
/*  RED
/*  assets/css/colors/red.css
/*-----------------------------------------------------------------------

1. NAVBAR

2. QUOTE SECTION

3. KEEP IN TOUCH SECTION

4. CONTACT US SECTION

5. FOOTER

-----------------------------------------------------------------------*/


/*---------------------------------------------------------------------*/
/*  1. NAVBAR
/*---------------------------------------------------------------------*/
.navbar.navbar-fixed-top .navbar-toggle {
  background-color: #ec6952;
}
.navbar.navbar-fixed-top .navbar-nav > li > a:hover {
  color: #ec6952;
}
.navbar.navbar-fixed-top .navbar-nav > li.active a,
.navbar.navbar-fixed-top .navbar-nav > li.active a:hover {
  background-color: #ec6952;
}
@media (min-width: 992px) {
  .navbar.navbar-fixed-top .navbar-nav > li.active a,
  .navbar.navbar-fixed-top .navbar-nav > li.active a:hover {
    background-color: #ec6952;
  }
}
.navbar-trigger-open a {
  background-color: #ec6952;
}


/*---------------------------------------------------------------------*/
/*  2. QUOTE SECTION
/*---------------------------------------------------------------------*/
#quote > .section-inner .section-content .quote-text > .quote-icon > i {
  color: #ec6952;
}
#quote > .section-inner .section-content .quote-text > h2.quote-by {
  color: #ec6952;
}


/*---------------------------------------------------------------------*/
/*  3. KEEP IN TOUCH SECTION
/*---------------------------------------------------------------------*/
#keep-in-touch .social-icon-item > a:hover {
  color: #ec6952;
}
#keep-in-touch .social-icon-item > a:hover .social-icon > i {
  color: #ec6952;
}


/*---------------------------------------------------------------------*/
/*  4. CONTACT US SECTION
/*---------------------------------------------------------------------*/
#contact-us > .section-inner .section-content .content-message {
  background-color: #ec6952;
}
#contact-us > .section-inner .section-content .form-group input,
#contact-us > .section-inner .section-content .form-group textarea {
  border-left-color: #ec6952;
}
#contact-us > .section-inner .section-content .form-group span {
  background-color: #ec6952;
  border-color: #ec6952;
}
#contact-us > .section-inner .section-content .social-icon-text > h2 {
  background-color: #ec6952;
  border: 1px solid #e74124;
}

.overlay-content{
  background-color: rgba(236,105,82,0.90);
}
/*---------------------------------------------------------------------*/
/*  5. FOOTER
/*---------------------------------------------------------------------*/
footer.footer {
  border-top: 2px solid #ec6952;
}

.color-red{
  color: #ec6952;
}